body {
    margin: 0;
}
header {
    width: 100%;
    background-color: black;
    height: 80px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    
    
}

.buttons-header {
    display: flex;
    float: right;
    color: white;
    margin: 15px 15px;
    align-items: center;
    height: 50px;
}


nav {
    width: 100%;
    background-color: #0095A8;
    height: 60px;
}

.buttons-nav {
    display: inline-flex;
    color: white;
    height: 50px;
    margin: 0px 15px;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 150px;
    clear: both;
    background: black;
    color: white;
    font-size: 20px;
    line-height: 22px;
}


form {
    display: inline-block;
    position: relative;
    padding: 2%;
    width: 30%;
}

h1 {
    color: blue;
    text-align: center;
}

.sign-up {
    color: black;
    
}


.form {
    text-align: center;
    position: absolute;
    width:100%; 
}

.button-social {
    margin-top: 10px;
}

main {
    width: 60%;
    color:#000;
    height: 650px;
}
input {
    margin-top: 20px;
    margin-left: 10px;
}

.icons {
    float: right;
    margin: 15px;
}

.icons-distance {
    margin-right: 20px;
}

.buttons-footer {
    display: flex;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
}

@media screen and (max-width: 480px) {
    header {
        width: 100%;
    }
    div.logo {
        display: flex;
       
        height: 85px;
    }
    
    div.icons {
        display: none;
    }
   
    input.input-search {
        display: none;
    }   

    input {
        margin-top: 5px;
    }
}      

