body {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 700px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header {
    width: 100%;
    background-color: black;
    height: 80px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
}

.buttons-header {
    display: flex;
    float: right;
    color: white;
    margin: 15px 15px;
    align-items: center;
    height: 50px;
}
.text {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

nav {
    width: 100%;
    background-color: #0095A8;
    height: 60px;
}

.buttons-nav {
    display: inline-flex;
    color: white;
    height: 50px;
    margin: 0px 15px;
    justify-content: center;
    align-items: center;
}

a:hover {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
}

footer {
    width: 100%;
    height: 150px;
    clear: both;
    background: black;
    color: white;
    font-size: 20px;
    line-height: 22px;
}

.buttons-footer {
    display: flex;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
}

input {
    margin-top: 20px;
    margin-left: 10px;
}

.icons {
    float: right;
    margin: 15px;
}

.icons-distance {
    margin-right: 20px;
}

main {
    height: 630px;
}

.button-more {
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width: 480px) {
    header {
        width: 100%;
    }
    div.logo {
        display: flex;
       
        height: 85px;
    }
    div.carousel-adjust {
        display: none;
    }
    input {
        display: none;
    }
    div.icons {
        display: none;
    }
    div.container {
        background-color: #0095A8;
        width: 70%;
        height: 210px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    main {
        height: 100%;
        width: 100%;
    }
    h1 {
        text-align: center;
        font-size: 55px;
    }
    
    .img-music {
        display: none;
    }

    .text {
        font-size: 15px;
        
    }

    .button-more{
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 30px;
                         
    }
}