body {
    margin: 0;
}

h1 {
    margin-left: 60px;
    font-size: 50px;
    margin-bottom: 2px;
    margin-top: 10px
}


.p1{
    float:  left;
    margin:  40px 10px 10px 20px;
    font-weight: bold;
    font-size: 30px;
    
}
.p2{
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-size: 20px;
}

.container {
    background-color: #0095A8;
    width: 70%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header {
    width: 100%;
    background-color: black;
    height: 80px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    
    
}

.buttons-header {
    display: flex;
    float: right;
    color: white;
    margin: 15px 15px;
    align-items: center;
    height: 50px;
}


nav {
    width: 100%;
    background-color: #0095A8;
    height: 60px;
}

.buttons-nav {
    display: inline-flex;
    color: white;
    height: 50px;
    margin: 0px 15px;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 150px;
    clear: both;
    background: black;
    color: white;
    font-size: 20px;
    line-height: 22px;
}

.buttons-footer {
    display: flex;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
}

.button-help {
    display: inline-flex;
    color: white;
    height: 50px;
    float: right;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    
}

input {
    margin-top: 20px;
    margin-left: 10px;
}

.icons {
    float: right;
    margin: 15px;
}

.icons-distance {
    margin-right: 20px;
}



.edit-div {
    margin-top: 50px;
}

.button-more {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.button-a {
  border-radius: 20px;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(158, 157, 157);
  font-weight: bold;
  margin-left: 20px;
}

pre {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.conteudo{
    width: 100px;
    height: 500px;

}
